                        ######################################################################
                                      # CONFIGURACIONES DE VARIAS MACROS
                        ######################################################################

#############################################################################
#   Print Start & Print End (Macros)
#############################################################################

[gcode_macro START_PRINT]
gcode:
    {% set BED_TEMP = params.BED_TEMP|default(60)|float %}
    {% set EXTRUDER_TEMP = params.EXTRUDER_TEMP|default(207)|float %}
    
    M117 Calentando cama...
    M190 S{BED_TEMP}          
    
    M117 Haciendo Home...
    G28
    G90
    
    M117 Preparando extrusor (Standby)...
    M106 S230               # Velocidad del Ventilador De Capa al 90%, Máx. 255
    G4 P2000                # Espera para asegurarse de que el ventilador esté completamente encendido.
    M109 S150               # Temperatura real de espera para evitar goteo en el mesh

    M117 Midiendo cama adaptativa...
    BED_MESH_CLEAR                      # Borrado de posibles mallas anteriores
    BED_MESH_CALIBRATE ADAPTIVE=1       # BED_MESH_PROFILE LOAD=default       # Activado y cargado de la malla  
    
    M117 Preparando extrusor...
    M106 S230               # Velocidad del Ventilador De Capa al 90%, Máx. 255
    G4 P2000                # Espera para asegurarse de que el ventilador esté completamente encendido.
    M109 S{EXTRUDER_TEMP}           
        
    #M117 Purgando extrusor en el Eje "Y"...
    #G1 Z50.0 F320
    #G1 Z10.0 F150    
    #G1 Z3.0 F75  
    #G1 X-75 Y-72 Z0.32 F1400.0    
    #G92 E0                     
    #G1 X-75 Y10.0 Z0.32 F1000.0 E35
    #G1 X-73 Y10.0 Z0.32 F1400.0      
    #G1 X-73 Y-72 Z0.32 F1000.0 E30    
    #G92 E0                     
    #G1 Z5.0 F1400

    #M117 Purgando extrusor en el Eje "X"...
    #G1 Z50.0 F1400                       # Bajar a la altura de 50mm. a 1400mm/s.
    #G1 Z10.0 F300                        # Bajar a la altura de 10mm. a 150mm/s.
    #G1 Z3.0 F150                         # Bajar a la altura de 3mm. a 75mm/s.
    #G1 X-75 Y-72 Z0.32 F3000.0           # Ir al punto de inicio de la linea  
    #G1 X55 Z0.30 F900.0 E35              # Trazar la primera linea de purgado
    #G92 E0                               # Reset del Extrusor
    #G1 X53 Y-72.0 Z0.30 F1400.0          # Subir un poco en "Y"
    #G1 X-75 Z0.30 F900.0 E30             # Trazar la segunda linea de purgado
    #G1 Z5.0 F1400                        # Levantar al boquilla
    #G92 E0                               # Reset del Extrusor

    # la siguiente configuracion esta OK. y solamente para va en el laminardor de Orca Slicer en el G-Code de inicio de la maquina
    #G92 E0.0;
    #M117 Purgando Extrusor...
    #G1 X{first_layer_print_min [0]-10} Y{first_layer_print_min [1] } Z0.8 F1400.0;
    #G1 X{first_layer_print_min [0]-10} Y{first_layer_print_min [1]+40} E30 F350.0;
    #G92 E0.0;
    #G1 E-0.5 F900;
    #G1 Y{first_layer_print_min [0]+40} F1400.0;
    #G92 E0.0;

    M117 ¡Iniciando Impresion...!

[gcode_macro END_PRINT]
gcode:
    M400                          ; Esperar a que el buffer se limpie
    TURN_OFF_HEATERS              ; Apaga extrusor y cama (reemplaza M104 y M140)
    
    # 1. Movimiento de seguridad inicial
    G91                           ; Coordenadas relativas
    G1 Z+15 E-5                   ; Pequeña retracción rápida para evitar hilos  //  F720 Y Subir un poco para no rayar la pieza  //  F620
    # G1 Z+15                       ; Subir un poco para no rayar la pieza  //  F620
    
    # 2. Retracción larga para cambio de filamento (si lo deseas)
    M82                           ; Extrusor en modo absoluto
    G1 E-25                       ; Retraer filamento para facilitar retiro  // F620
    
    # 3. Retorno a posición de reposo (Delta Home)
    M117 Haciendo Home...
    G28                           ; En Delta, esto sube los 3 ejess al máximo
    G90                           ; Volver a coordenadas absolutas
    G1 X0 Y0 Z340.00              ; Posicionarse en lugar seguro  // F720
    
    # 4. Limpieza de estado
    M117 Pieza finalizada...
    BED_MESH_CLEAR                ; Borrar malla de KAMP
    CLEAR_PAUSE                   ; Limpiar estados de pausa
    M84                           ; Apagar motores
    M106 S179               # Velocidad del Ventilador De Capa al 70%, Máx. 255
    G4 P2000                # Espera para asegurarse de que el ventilador esté completamente encendido.
    
    # 5. Notificación Final (Sonidos y mensajes)
    END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final; Sugerencia: En lugar de pausas G4 largas, usa solo los tonos finales
    M117 Enfriando y Lista...

[gcode_macro G29]
description: "Comando G29"
gcode:
  M117 Calentando Cama y Extrusor...
  M140 S60               # Configura la temperatura de la Cama a 60° C.
  M190 S60               # Espera a que la temperatura de la cama llegue a 60° C.
  M106 S230               # Velocidad del Ventilador De Capa al 90%, Máx. 255
  G4 P2000                # Espera para asegurarse de que el ventilador esté completamente encendido
  M104 S207              # Configura la temperatura del Hotend a 207° C.
  M109 S207              # Espera a que la temperatura del hotend llegue a 207° C.
  G4 P2000               # Espera para asegurarse de que el ventilador esté completamente encendido
  M117 Busqueda Home...
  G28                    # Realizar auto-home de todos los ejes "a, b, c"
  # EXCLUDE_OBJECT_DEFINE
  M117 Borrado malla
  BED_MESH_CLEAR
  M117 Generando Malla KAMP
  BED_MESH_CALIBRATE             # BED_MESH_CALIBRATE PROFILE=adaptive ADAPTIVE=1
  M117 Ubicación De Inicio Mallado...
  G0 X0 Y0 Z10 F620
  #BED_MESH_PROFILE save=default
  END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

[gcode_macro GUARDAR_CONFIG]
description: "Guarda la configuracion y crea un archivo de respaldo"
gcode:
  SAVE_CONFIG
  M300 S1000 P500                             # Tono de 500ms a 1000Hz para indicar finalización.
    
[gcode_macro ESTADO_ENDSTOP]
description: "Test de finales de carrera y zonda"
gcode:
  QUERY_ENDSTOPS
  QUERY_PROBE
  END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

[gcode_macro CALIBRAR_SONDA_Z]
description: "Ir a casa, Calentar Cama y Extrusor, Z_Offset"
gcode:
  M117 Calentando Cama y Extrusor...
  M140 S60               # Configura la temperatura de la Cama a 60° C.
  M190 S60               # Espera a que la temperatura de la cama llegue a 60° C.
  M106 S230               # Velocidad del Ventilador De Capa al 90%, Máx. 255
  G4 P2000                # Espera para asegurarse de que el ventilador esté completamente encendido
  M104 S207              # Configura la temperatura del Hotend a 207° C.
  M109 S207              # Espera a que la temperatura del hotend llegue a 207° C.
  G4 P2000               # Espera para asegurarse de que el ventilador esté completamente encendido
  M117 Busqueda Home...
  G28                    # Realizar auto-home de todos los ejes "a, b, c"
  M117 Calibrado Sonda Z...
  PROBE_CALIBRATE        # Configura el ZOffset.
  M117 Fin Calibrado Sonda Z...
  END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

[gcode_macro TEST_REPETIBILIDAD]
description: "Comprobación de precisión / repetibilidad de zonda (10 Veces)"
gcode:
  M117 Busqueda Home...
  G28                    # Realizar auto-home de todos los ejes "a, b, c"
  M117 Test Repetibilidad...
  PROBE_ACCURACY
  M117 Busqueda Home...
  G28                    # Realizar auto-home de todos los ejes "a, b, c"
  M117 Posicion Segura...
  G1 Z340.00 F620
  M117 Fin Repetibilidad...
  END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final
    
[gcode_macro PID_EXTRUSOR]
description: "Realiza PID tuning del extrusor con el ventilador de capa encendido al 90%"
gcode:
    M117 Busqueda Home...
    G28                    # Realizar auto-home de todos los ejes "a, b, c"
    M117 Posicion Segura...
    G1 Z340.00 F900
    M106 S230              # Velocidad del Ventilador De Capa al 90%, Máx. 255
    G4 P2000               # Espera para asegurarse de que el ventilador esté completamente encendido.
    M117 Calentando Extrusor...
    M117 PID Extrusor...
    PID_CALIBRATE HEATER=extruder TARGET=207    # Iniciar PID tuning para el extrusor
    M117 Fin PID Extrusor...
    M300 S1000 P500                             # Tono de 500ms a 1000Hz para indicar finalización.

[gcode_macro PID_CAMA]
description: "Calibra y guarda automáticamente los valores PID de la cama caliente"
gcode:
    M117 Busqueda Home...
    G28                    # Realizar auto-home de todos los ejes "a, b, c"
    M117 Posicion Segura...
    G1 Z340.00 F900
    M117 Calentando Cama...
    M117 PID Cama...
    PID_CALIBRATE HEATER=heater_bed TARGET=65    # Iniciar PID tuning para la cama
    M117 Fin PID Cama...
    M300 S1000 P500                              # Tono de 500ms a 1000Hz para indicar finalización.
    
[gcode_macro MOVER_STEPPER]
description: "MMueve los Motores a,b,c 10mm. para comprobarlos"
gcode:
    M117 Busqueda Home...
    G28                    # Realizar auto-home de todos los ejes "a, b, c"
    M117 Posicion Segura...
    G1 Z340.00 F900
    M117 Mueve 10mm Arriba y Abajo Stepper(a)...
    STEPPER_BUZZ STEPPER=stepper_a
    M117 Espera cambio a steep b...
    G4 P2000             # Esperar para asegurarse del movimiento correcto
    M117 Mueve 10mm Arriba y Abajo Stepper(b)...
    STEPPER_BUZZ STEPPER=stepper_b
    M117 Espera cambio a steep c...
    G4 P2000             # Esperar para asegurarse del movimiento correcto
    M117 Mueve 10mm Arriba y Abajo Stepper(c)...
    STEPPER_BUZZ STEPPER=stepper_c
    G4 P2000             # Esperar para asegurarse del movimiento correcto
    M117 Movimientos finalizados...
    G4 P2000             # Esperar para asegurarse del movimiento correcto
    M117 Prueba finalizada...
    END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

######################################################################
# CALIBRACION NIVELACION DE TORNILLOS DE LA CAMA (CW)
######################################################################
    
[gcode_macro AJUST_TORNILLOS]
description: "Ajuste de los tornillos para nivelar la cama"
gcode:
  M117 Calentando Cama y Extrusor...
  M140 S60               # Configura la temperatura de la Cama a 60° C.
  M190 S60               # Espera a que la temperatura de la cama llegue a 60° C.
  M106 S230              # Velocidad del Ventilador De Capa al 90%, Máx. 255
  G4 P2000               # Espera para asegurarse de que el ventilador esté completamente encendido.
  M104 S207              # Configura la temperatura del Hotend a 207° C.
  M109 S207              # Espera a que la temperatura del hotend llegue a 207° C.
  G4 P2000               # Espera para asegurarse de que el ventilador esté completamente encendido
  M117 Busqueda Home...
  G28                    # Realizar auto-home de todos los ejes "a, b, c"
  M117 Nivelado De Tornillos...
  SCREWS_TILT_CALCULATE DIRECTION=CW
  END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

######################################################################
# CONFIGURACION CALIBRACIONES DELTA (MANUAL-AUTOMATICA)
######################################################################
    
[gcode_macro CALIB_DELTA_MAN]
description: "Calibración de la cama manualmente (Sin Sonda)"
gcode:
  M117 Calibracion Delta - Manual...
  M140 S60               # Configura la temperatura de la Cama a 60° C.
  M190 S60               # Espera a que la temperatura de la cama llegue a 60° C.
  M106 S230              # Velocidad del Ventilador De Capa al 90%, Máx. 255
  G4 P2000               # Espera para asegurarse de que el ventilador esté completamente encendido.  
  M104 S204              # Configura la temperatura del Hotend a 204° C.
  M109 S204              # Espera a que la temperatura del hotend llegue a 204° C.
  M117 Busqueda Home...
  G28                    # Realizar auto-home de todos los ejes "a, b, c"
  M117 Calibracion Delta - Manual...
  DELTA_CALIBRATE METHOD=manual  # Baja el cabezal a 10mm de la cama y pedira que baje, seguir instrucciones.
  M117 Fin Calibracion Delta - Manual...
  END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final
  
[gcode_macro CALIB_DELTA_AUTOM]
description: "Calibración de la cama automático (Con Sonda)"
gcode:
  M117 Calibracion Delta - Automatico...
  M140 S60               # Configura la temperatura de la Cama a 60° C.
  M190 S60               # Espera a que la temperatura de la cama llegue a 60° C.
  M106 S230              # Velocidad del Ventilador De Capa al 90%, Máx. 255
  G4 P2000               # Espera para asegurarse de que el ventilador esté completamente encendido. 
  M104 S207              # Configura la temperatura del Hotend a 207° C.
  M109 S207              # Espera a que la temperatura del hotend llegue a 207° C.
  M117 Busqueda Home...
  G28                    # Realizar auto-home de todos los ejes "a, b, c"
  M117 Calibracion Delta - Automatico...
  DELTA_CALIBRATE        # Baja el cabezal a 10mm de la cama y pedira que baje, seguir instrucciones.
  M117 Busqueda Home...
  G28                    # Realizar auto-home de todos los ejes "a, b, c"
  M117 Posicion Segura...
  G1 Z340.00 F900
  M117 Fin Calibracion Delta - Automatico...
  END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

######################################################################

[gcode_macro POSICION_ACTUAL]
description: "Obtener posición actual"
gcode:
  M114                   # Comando de posicion actual 
  M117 Posicion Actual...
  END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

[gcode_macro BORRAR_PAUSA]
description: "Comando para borrar pausas"
gcode:
  CLEAR_PAUSE            # Borrar pausa
  M117 Posicion actual borrada correctamente...
  M300 S1000 P500        # Tono de 500ms a 1000Hz para indicar finalización.

[gcode_macro BABYSTEPPING]
description: "Babystepping"
gcode:
  Z_OFFSET_APPLY_ENDSTOP  # Comando de babystepping usado frecuentemente, y lo hace permanente. Requiere un SAVE_CONFIG  

[gcode_macro PRECALENTAR_PLA]
description: "Precalienta la impresora para imprimir con PLA. (180-50)°"
gcode:
  M117 Busqueda Home...
  G28                    # Realizar auto-home de todos los ejes "a, b, c"
  M117 Posicion Segura...
  G1 Z340.00 F620
  M117 🔥 Precalentando para PLA...
  M140 S55               # Configura la temperatura de la Cama a 55° C.
  M190 S55               # Espera a que la temperatura de la cama llegue a 55° C.
  M106 S230              # Velocidad del Ventilador De Capa al 90%, Máx. 255
  G4 P2000               # Espera para asegurarse de que el ventilador esté completamente encendido.
  M104 S180              # Configura la temperatura del Hotend a 180° C.
  M109 S180              # Espera a que la temperatura del hotend llegue a 180° C.
  M117 ✅ listo para imprimir con PLA...
  END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

######################################################################
# PRUEBA ACELEROMETRO ADXL345
######################################################################

[gcode_macro TEST_FLYADXL]
description: "Realiza una verificación del acelerometro, arrojando resultados de conexión"
gcode:
    ACCELEROMETER_QUERY
    END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

[gcode_macro CAL_FLYADXLXXX]
description: "Realiza una verificación del acelerometro, arrojando resultados de conexión"
gcode:
    G28
    SHAPER_CALIBRATE AXIS=X
    END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

[gcode_macro CAL_FLYADXLYYY]
description: "Realiza una verificación del acelerometro, arrojando resultados de conexión"
gcode:
    G28
    SHAPER_CALIBRATE AXIS=Y
    END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

######################################################################
# CALIBRACION ENDSTOPS INICIALES
######################################################################

[gcode_macro PHASES]
description: "Realiza una calibración de los finales de carrera"
gcode:
    G28
    ENDSTOP_PHASE_CALIBRATE
    G1 Z330
    G1 X20 Y35
    G28
    G1 Z320
    G1 X-43 Y-28 
    G28
    G1 Z315
    G1 X-48 Y52
    G28
    G1 Z310
    G1 X-33 Y-44
    G28
    G1 Z305
    G1 X-33 Y-44
    G28
    G1 Z300
    G1 X5 Y54
    G28
    G1 Z340
    ENDSTOP_PHASE_CALIBRATE STEPPER=stepper_c
    END_TUNE               # Tono de 500ms a 1500Hz para indicar finalización / Tu melodía final

######################################################################
# CONFIGURACION ACTIVACION (BUZZER/BEEPER)
######################################################################

#Configuración Típica para RAMPS 1.4 y 12864 Display

[gcode_macro M300]     # M300 (Activa el Buzzer), Sintaxis: M300 S<frecuencia_Hz> P<duracion_ms>
description: "Toca un tono en el buzzer de la impresora usando frecuencia (S) y duración (P)"
gcode:
   # Definición de Parámetros (S: Frecuencia en Hz, P: Duración en ms)
  {% set S = params.S|default(1000)|float %} ; Frecuencia del tono (Default 1000 Hz)  // 5000
  {% set P = params.P|default(500)|int %}   ; Duración del tono (Default 500 ms)    // 60
  # Comprobación de que la frecuencia y duración son válidas
  {% if S > 0 and P > 0 %}
      # Cálculo del tiempo de ciclo (Inverso de la frecuencia:
      {% set cycle_t = 1.0 / S %}
      # Generar el tono:
      # Se asume que el pin del buzzer se llama 'beeper'.
      SET_PIN PIN=beeper VALUE=0.5 CYCLE_TIME={cycle_t}
      #  Esperar la duración del tono (P milisegundos)
      G4 P{P}
      #  Apagar el buzzer
      SET_PIN PIN=beeper VALUE=0
  {% endif %}